.jumbotron {
    background-image: url("../../images/nytimes.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: rgb(25, 25, 25) !important;
    height: 500px;
    color: rgb(255, 255, 255);
}