.card {
    width: 25%;
    height: 700px;
    float: left;
    margin: 30px;
    box-shadow: 10px 10px 5px gray;
}

.card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.icon {
    float: right;
}

.icon:hover {
    transform: scale(3);
    transition: 200ms;
}